# softassist
SoftAssist é uma Aplicação desenvolvida pela CodeCartel para a empresa Softtek, A principal funcionalidade é uma ferramenta alimentada por IA generativa que pode fornecer suporte e insights precisos aos suportes técnicos da Softtek.

Para usar essa aplicacao, é necessário baixar as dependencias.

Certifique-se de baixar eles em um ambiente virtual, como o Pythonenv para nao entrar em conflito com dependencias globais.
Voce pode fazer isso com o comando: 'python -m venv nome_do_ambiente'

- fastapi==0.114.1:
`
pip install fastapi
`

- uvicorn==0.30.6:
`
pip install uvicorn
`

- google-generativeai==0.8.1:
`
pip install -q -U google-generativeai

- requests==2.32.3:
`
pip install requests
`

- httpx==0.27.2:
`
pip install httpx
`

- SQLAlchemy==2.0.35:
`
pip install sqlalchemy
`

- psycopg2==2.9.9:
`
pip install psycopg2
`

#TESTS
- pytest==8.3.3:
`
pip install pytest
`

#TOOLS
- alembic==1.13.2:
`
pip install alembic
`









